body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.cl-exam {
  position: relative;
  background-color: white;
  width: 8.5in;
  margin: 0 auto;
  padding: 0.65in 1in;
  box-sizing: border-box;

  p,h1,h2,h3,figure, header, footer {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 11pt;
  }

  p {
    margin: 1em 0;
  }

  img {
    max-width: 100%;
  }

  header {
    position: relative;
    display: table;
    width: 100%;
    min-width: 100%;

    div:first-child {
      display: table-cell;
      width: 50%;
      padding-right: 1em;
    }

    div:last-child {
      display: table-cell;
      width: 50%;
    }

    h1 {
      position: relative;
      left: 0;
      top: 0;
      margin: 0;
      border: 0;
      padding: 0;
      font-size: 20pt;
      font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    }

    h2 {
      position: relative;
      text-align: right;
      font-size: 20pt;
      font-style: italic;
    }
  }


  span.cl-code {
    display: inline-block;
    width: 1.1em;
  }

  div.cl-exam-columns {
    display: table;
    margin-top: -11pt;
    width: 100%;

    >div:first-child {
      display: table-cell;
      width: 50%;
      padding-right: 1em;
    }

    >div:last-child {
      display: table-cell;
      width: 50%;
    }
  }

  span.cl-exam-underline {
    display: inline-block;
    border-bottom: 1px solid black;
    text-align: center;
  }

  pre, pre.code {
    background-image: none;
    border: 0;
    padding: 0;
    box-shadow: none;
  }

  code {
    color: black;
  }

  .break {
    border-top: 1pt solid black;
    clear: both;
  }


  span.blank {
    display: inline-block;
    min-width: 8em;
    border-bottom: 1.5pt solid black;
    text-align: center;
  }


  .pt10, .pt10 p {
    font-size: 10pt;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
  }

  .cl-single-space {
    margin-top: 0;
    margin-bottom: 0;
  }

  .small {
    font-size: 10pt;
  }

  .smaller {
    font-size: 9pt;
  }

  div.cl-rubric {
    font-style: italic;
    font-size: 0.95em;
    color: #ff4444;
  }

  @import 'sass/partials/matching';
  @import 'sass/partials/multi';
}


@page {
    margin: 1in;
	size: letter;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  div.cl-exam {
    position: relative;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    .break {
      border: 0;
      page-break-before: always;
    }
  }
}

@import 'sass/partials/exam-form';
@import 'sass/partials/crowdmark';